# === Compilación Java ===
*.class
*.jar
*.war
*.ear
*.log

# Archivos de compilación y clases
*.class
*.jar
*.log
build/
dist/
out/

# NetBeans: archivos generados automáticamente
nbproject/private/
nbproject/build-impl.xml
nbproject/genfiles.properties

# Sistema
*.rs

